<div class="alert alert-dismissible alert-success" *ngIf="check1()">
  
  <strong align="center">ITEM BID OVER</strong>
</div>
<div class="card mb-5">
  <h3 class="card-header">{{product1?.name}}</h3>
 
  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
  <div class="card-body">
  <h4 style="font-weight: bold;">Description</h4>>
    <p class="card-text">{{product1?.description}}</p>
  </div>
  <ul class="list-group list-group-flush" style="font-weight: bold;">
    <li class="list-group-item">Posted by :{{product1?.ownername | uppercase}}</li>
    <li class="list-group-item">Posted on :{{product1?.date | date:'short'}}</li>
    <li class="list-group-item">Owner Emailid :{{product1?.owneremail}}</li>
    <li class="list-group-item">Initial Price :{{product1?.price}}</li>
    <li class="list-group-item">Last Bid  :{{price}}</li>
    </ul>
  <form class="form-horizontal" (submit)="bid()" *ngIf="check()">
  <div class="form-group" *ngIf="check()">
      <label for="bid" class="col-lg-2 control-label" style="font-weight: bold;">Your Bid</label>
      <div class="col-lg-4" *ngIf="check()">
        <input class="form-control" id="bid" [(ngModel)] = "bidValue" [ngModelOptions]="{standalone: true}" placeholder="bid" type="number">
      </div>
    </div>
    <div class="form-group" *ngIf="check()">
      <div class="col-lg-10 col-lg-offset-2">
      <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
</form>
  <div class="card-footer text-muted">
  
  </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script> 